@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");

* {
  box-sizing: border-box;
  font-family: inherit;
  margin: 0;
  padding: 0;
}

:root {
  --light-color: #c4b8a0;
  --medium-color: #aa8b4e;
  --dark-color: #333;
}

body {
  min-height: 100vh;
  min-height: 100dvh;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--light-color);
}

.header,
.footer {
  width: 100%;
  font-size: min(150%, 6vw);
  background-color: var(--dark-color);
  color: var(--light-color);
  padding: 0.5em 1em;
}
.header p {
  color: var(--medium-color);
}

.main {
  width: min(50rem, 80vw);
  height: 50vh;
  height: 50svh;
  background-color: var(--medium-color);
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(1fr, 100);
  align-items: end;
  gap: 1px;
  box-shadow: 5px 5px 0 0 var(--dark-color);
}

.bar {
  grid-row: 1;
  justify-self: stretch;
  background-color: var(--dark-color);
}

.footer {
  display: flex;
  justify-content: space-evenly;
  padding-block: 1.5rem;
}

.button {
  padding-block: 0.5rem;
  padding-inline: max(2rem, 10vw);
  font-size: 1.5rem;
  border: 0;
  background-color: var(--medium-color);
  cursor: pointer;
  outline: none;
}
.button:hover {
  transform: scale(1.1);
}
.button:active {
  transform: translateY(5%);
  outline: none;
}

@media (width <600px), (height <600px) {
  .main {
    box-shadow: none;
    flex-grow: 1;
    width: 100%;
  }
}
